server:
  port: 8081
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/your_db
    username: your_db_user
    password: your_db_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
jwt:
  secret: "your_jwt_secret_key_here"
  expiration: 3600000
