server:
  port: 8083
spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
        - id: appointment-service
          uri: http://localhost:8082
          predicates:
            - Path=/appointments/**
jwt:
  secret: "b2d7f8e9a1c3e5f7b9d1f3a5c7e9b2d4f6a8c0e2b4d6f8a0c2e4b6d8f0a2c4e6b8d0f2a4c6e8b0d2f4a6c8e0b2d4"
